@mixin block-padding($top:0, $bottom){
    padding-top: $top;
    padding-bottom: $bottom;
}

.container {
    @include block-padding(20, 10)
}

.container2 {
    @include block-padding($top : 20,$bottom : 10)
}
$font-base-color:red !default;
$font-base-background-color:yellow;